{% extends 'home.html' %}

{% block body %}
<div class="new-container">

       <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Delicious Items To eat</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Samosa Aloo</h3>
        <p>Delicious samosas with perfectly spiced potato filling, encased in crispy golden pastry—a satisfying blend of flavors and textures that's irresistible.</p>
        <a href="...">
        <img src="https://source.unsplash.com/350x300/?samosa" alt="Sample Image">
      </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Aloo Tikee</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Aloo Tikee" alt="Sample Image">
      </a>
      </div>


      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Pizza</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Pizza" alt="Sample Image">
      </a>
      </div>



      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Drink</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?drink/soft drink" alt="Sample Image">
      </a>
      </div>


      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Burger</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Burger" alt="Sample Image">
      </a>
      </div>


      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Choclate</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Choclate" alt="Sample Image">
      </a>
      </div>


      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Sweets</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?sweets" alt="Sample Image">
      </a>
      </div>


      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Mango</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?mango" alt="Sample Image">
      </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Thai food</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?thai food" alt="Sample Image">
      </a>
      </div>


      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Water </h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Cold water" alt="Sample Image">
      </a>
      </div>


      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Grapes</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?food" alt="Sample Image">
      </a>
      </div>


      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Fruits - Juice</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Fruit juice" alt="Sample Image">
      </a>
      </div>


      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Italian Food</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Pizza Sause" alt="Sample Image">
      </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Fruits - Juice</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Fruit juice" alt="Sample Image">
      </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Fruits - Juice</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Fruit juice" alt="Sample Image">
      </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Fruits - Juice</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Fruit juice" alt="Sample Image">
      </a>
      </div>


      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Fruits - Juice</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Vegetables" alt="Sample Image">
      </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Fruits - Juice</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?cold drinks" alt="Sample Image">
      </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Fruits - Juice</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Fast Food" alt="Sample Image">
      </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Fruits - Juice</h3>
        <p>Aloo tikki, a delectable treat, features spiced mashed potatoes crisped to perfection. Its delightful blend of flavors and crunchy exterior make it truly delightful.</p>
      <a href="...">
        <img src="https://source.unsplash.com/350x300/?Fruit juice" alt="Sample Image">
      </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Panipuri</h3>
        <p>Golgappa, a popular street food, comprises hollow crispy shells filled with a zesty mixture of tamarind water, potatoes, and spices—an explosion of tangy and savory flavors.</p>
        <a href="...">
        <img src="https://source.unsplash.com/350x300/?Golgappa" alt="Sample Image">
      </a>
      </div>
    </div>
  </div>
     </div>

{% endblock body %}

